@import url('https://fonts.googleapis.com/css?family=Comfortaa|Libre+Baskerville');

/*////GENERAL////*/
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*////NAVBAR////*/
.navbar {
      margin-bottom: 0 !important;
      border-radius: 0;
    }
    
    /*/////TEXT/////*/
    
    #title-text{
      
      text-align: center;
      font-family: 'Libre Baskerville', serif;
    }
    #title-text:hover{
      color: #94bdd6;
    }
    
    #jumbo-text{
      color: white;
    }
    
    

   /*////FOOTER////*/
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    /*////CONTENT BARS////*/
    .well{
      margin-top: 20px;
    }
    .body-start{
      margin-top: 50px !important;
    }
    .side-bar{
      height: 1000px;
      background: #003366 ;
    }
    .center-bar{
      height: 1300px;
    }
    .clearfix:after{
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

#bbb-logo{
  width: 15%;
  margin-top: 50px;
}
#iam-logo{
  width: 15%;
  margin-top: 50px;
}
/*/////CONTENT//////*/
section{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 8px;
  
}
section:hover{
  font-family: 'Comfortaa', cursive;
  border-style: none;
  background: #cbdfeb !important;
}

.mid-text{
  text-align: center;
  color: red;
  font-family: 'Libre Baskerville', serif;
}
.mid-box{
  text-align: center;
    border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 5px;
  margin: 5px;
}
.mid-box:hover{
  border-style: none;
  background: #cbdfeb !important;
  font-family: 'Comfortaa', cursive;
}
.center-boxes{
  text-align: center;
}
.jumbotron{
  width: 75%;
  background-image: url("/images/4012-freight-fowarder-industry.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
