@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body{
    background-color: #8eaebd;
  }

  section{
    width: 100%;
  }
  .push-down{
    margin-top: 50px;
  }
  #topHeading{
    color: black;
    font-family: 'Libre Baskerville', serif;
  }
  #textWell{
    color: black;
  }
.topContent{

}
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0 !important;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      //background-color: #f1f1f1;
      background-color: #30415d;
      color: white;
      height: 220%;

    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
    @media only screen and (max-width: 600px) {
      .navbar{
        
      }
      }

  .slide1{
  background-image: url("/images/Laem-Chabang-Port-1.jpg");
  //background-color: blue;
  background-color: #328cc1;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
  .slide2{
  background-image: url("/images/CEA-Project-Logistics-Freight-Forwarding-Main-Image.jpg");
  background-color: #328cc1;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
  .slide3{
  background-image: url("/images/4012-freight-fowarder-industry.png");
   background-color: #328cc1;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
      .btn-primary {
    background: #67aeca;
    color: #ffffff;
      width:100%;
}
    .btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;

}
    .btn-primary:hover{
    background: #ffffff;
      color: #333;
}
  #blue_circle{
    font-size: 9pt;
    border-radius: 50px;
    border: 2px, solid black;
    background-color: #889dd8;
    color: white;
    padding: 11px;
    text-align: center;
  }
  #dark_blue_circle{
    font-size: 9pt;
    border-radius: 50px;
    border: 2px, solid black;
    background-color: #284185;
    color: white;
    padding: 10px;
    text-align: center;
  }
  #grey_circle{
    font-size: 9pt;
    border-radius: 50px;
    border: 2px, solid black;
    background-color: #545454;
    color: white;
    padding: 10px;
    text-align: center;
  }
  #follow_up_text{
    font-size: 8pt;
  }
